DATABASE_URL="postgresql://postgres.[PROJECT_REF]:[PASSWORD]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[PROJECT_REF]:[PASSWORD]@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="troque-por-uma-string-aleatoria-forte"
PORT=4000
NODE_ENV=production
FRONTEND_URL="https://SEU-PROJETO.vercel.app"
